<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.motivationalquotes">
    <!--Permissions for internet-->
    <uses-permission android:name="android.permission.INTERNET" android:exported = "true"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" android:exported = "true"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />


    <application android:exported = "true"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotivationalQuotes">
        <activity android:name=".MainActivity" android:exported = "true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Motivation" android:label="Motivation" android:exported = "true">
            android:name=".Motivation"
        </activity>

        <activity android:name=".Love" android:label="Love" android:exported = "true">
            android:name=".Love"
        </activity>

        <activity android:name=".Birthday" android:label="Birthday" android:exported = "true">
            android:name=".Birthday"
        </activity>

        <activity android:name=".Thankful" android:label="Thankful" android:exported = "true">
            android:name=".Thankful"
        </activity>

        <activity android:name=".FullScreenViewActivity" android:label="" android:exported = "false">
            android:name=".FullScreenViewActivity"
        </activity>

    </application>

</manifest>